@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "CustomersView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*This allows you to create a dynamic class property. This would making styling fun and the website more dynamic. *@
@{
   @*var dynamicClass =  > 0 ? "newDynamicClassName" : null;*@
}

@**@
<h2 @*class="@dynamicClass">*@ > Customers </h2>
@if (Model.Equals(1))
{
    <p>There are no customers!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer</th>
                <th>Membership Type</th>
                <th>Membership Discount Rate</th>
            </tr>
        </thead>
        <tbody>
              @foreach (var customer in Model)
              {
                <tr>
                    <td> @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null) </td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                    <td>@customer.MembershipType.DiscountRate%</td>
                </tr>
              }
        </tbody>
    </table>
}



